<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_723408b259cb4ae8997bbefdc4218735 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_723408b259cb4ae8997bbefdc4218735" ></div>
        
</body>
<script>    
    
            var map_723408b259cb4ae8997bbefdc4218735 = L.map(
                "map_723408b259cb4ae8997bbefdc4218735",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cc45e23c14534e6eb5844897a44112cf = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_723408b259cb4ae8997bbefdc4218735);
        
    
            var feature_group_2682e275bead40e6b0963963e3b80df5 = L.featureGroup(
                {}
            ).addTo(map_723408b259cb4ae8997bbefdc4218735);
        
    
            var marker_9ed1884db20940548f12c18fa5c595b3 = L.marker(
                [49.841952, 24.0315921],
                {}
            ).addTo(feature_group_2682e275bead40e6b0963963e3b80df5);
        
    
            var icon_c9d744134b2e4c44b2119907f58301ec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_9ed1884db20940548f12c18fa5c595b3.setIcon(icon_c9d744134b2e4c44b2119907f58301ec);
        
    
        var popup_04ecab6646d84e2d96af423063f052d3 = L.popup({"maxWidth": "100%"});

        
            var html_161745d3b8b7480c96c4a279227575de = $(`<div id="html_161745d3b8b7480c96c4a279227575de" style="width: 100.0%; height: 100.0%;">Name: Anna Yershova</div>`)[0];
            popup_04ecab6646d84e2d96af423063f052d3.setContent(html_161745d3b8b7480c96c4a279227575de);
        

        marker_9ed1884db20940548f12c18fa5c595b3.bindPopup(popup_04ecab6646d84e2d96af423063f052d3)
        ;

        
    
    
            var marker_38781e6382c44f04815eb6f341f660bc = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_2682e275bead40e6b0963963e3b80df5);
        
    
            var icon_64e766288e0e457db5dbfa718425fa75 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_38781e6382c44f04815eb6f341f660bc.setIcon(icon_64e766288e0e457db5dbfa718425fa75);
        
    
        var popup_e4816a36d3ac4a95abe199eb7e4461b3 = L.popup({"maxWidth": "100%"});

        
            var html_85d1f79e9f9b45018a50ee44476f71cb = $(`<div id="html_85d1f79e9f9b45018a50ee44476f71cb" style="width: 100.0%; height: 100.0%;">Name: glibesyck</div>`)[0];
            popup_e4816a36d3ac4a95abe199eb7e4461b3.setContent(html_85d1f79e9f9b45018a50ee44476f71cb);
        

        marker_38781e6382c44f04815eb6f341f660bc.bindPopup(popup_e4816a36d3ac4a95abe199eb7e4461b3)
        ;

        
    
    
            var marker_6602fc88550f40a096d2de3726aab54d = L.marker(
                [48.7630165, 11.4250395],
                {}
            ).addTo(feature_group_2682e275bead40e6b0963963e3b80df5);
        
    
            var icon_96203cf88b974a1aa7cfec3f1284ee80 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_6602fc88550f40a096d2de3726aab54d.setIcon(icon_96203cf88b974a1aa7cfec3f1284ee80);
        
    
        var popup_94fab9f2ec8d428286d9a0e421b0143c = L.popup({"maxWidth": "100%"});

        
            var html_884e3e5eef65490ba59ac3ed52dd91f9 = $(`<div id="html_884e3e5eef65490ba59ac3ed52dd91f9" style="width: 100.0%; height: 100.0%;">Name: Audi</div>`)[0];
            popup_94fab9f2ec8d428286d9a0e421b0143c.setContent(html_884e3e5eef65490ba59ac3ed52dd91f9);
        

        marker_6602fc88550f40a096d2de3726aab54d.bindPopup(popup_94fab9f2ec8d428286d9a0e421b0143c)
        ;

        
    
    
            var marker_2dc491146a464d7380e0867eb78fb2e8 = L.marker(
                [48.1371079, 11.5753822],
                {}
            ).addTo(feature_group_2682e275bead40e6b0963963e3b80df5);
        
    
            var icon_6d73d2b426d84c2fbfaed3ffe634f5a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_2dc491146a464d7380e0867eb78fb2e8.setIcon(icon_6d73d2b426d84c2fbfaed3ffe634f5a2);
        
    
        var popup_8ead22e955d349c796f78754dbcc9fc6 = L.popup({"maxWidth": "100%"});

        
            var html_bb308496d0a044cd89ceb0456f2d30e9 = $(`<div id="html_bb308496d0a044cd89ceb0456f2d30e9" style="width: 100.0%; height: 100.0%;">Name: BMW</div>`)[0];
            popup_8ead22e955d349c796f78754dbcc9fc6.setContent(html_bb308496d0a044cd89ceb0456f2d30e9);
        

        marker_2dc491146a464d7380e0867eb78fb2e8.bindPopup(popup_8ead22e955d349c796f78754dbcc9fc6)
        ;

        
    
    
            var marker_c675a4bb476a4edab9e57e65b47a3d9a = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_2682e275bead40e6b0963963e3b80df5);
        
    
            var icon_c721842933c045c89569c9e28b705f5e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_c675a4bb476a4edab9e57e65b47a3d9a.setIcon(icon_c721842933c045c89569c9e28b705f5e);
        
    
        var popup_061c3cee74af424abc1565f15d4f66f9 = L.popup({"maxWidth": "100%"});

        
            var html_af5b4e1cd7f847e78e69b3c5842e3fe8 = $(`<div id="html_af5b4e1cd7f847e78e69b3c5842e3fe8" style="width: 100.0%; height: 100.0%;">Name: aline</div>`)[0];
            popup_061c3cee74af424abc1565f15d4f66f9.setContent(html_af5b4e1cd7f847e78e69b3c5842e3fe8);
        

        marker_c675a4bb476a4edab9e57e65b47a3d9a.bindPopup(popup_061c3cee74af424abc1565f15d4f66f9)
        ;

        
    
    
            var marker_1b0d7fd66c464a0799b28e1644272ebe = L.marker(
                [59.938732, 30.316229],
                {}
            ).addTo(feature_group_2682e275bead40e6b0963963e3b80df5);
        
    
            var icon_a882d0cb90834b6cb42e06b8ea3583fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_1b0d7fd66c464a0799b28e1644272ebe.setIcon(icon_a882d0cb90834b6cb42e06b8ea3583fe);
        
    
        var popup_f6afbcbfc02542309519b50279ce4b7b = L.popup({"maxWidth": "100%"});

        
            var html_2bbe68e110f848d5aec632e8bf75b893 = $(`<div id="html_2bbe68e110f848d5aec632e8bf75b893" style="width: 100.0%; height: 100.0%;">Name: твой психолог</div>`)[0];
            popup_f6afbcbfc02542309519b50279ce4b7b.setContent(html_2bbe68e110f848d5aec632e8bf75b893);
        

        marker_1b0d7fd66c464a0799b28e1644272ebe.bindPopup(popup_f6afbcbfc02542309519b50279ce4b7b)
        ;

        
    
    
            var marker_f23445f606bb496e91ee55afd5134701 = L.marker(
                [49.841952, 24.0315921],
                {}
            ).addTo(feature_group_2682e275bead40e6b0963963e3b80df5);
        
    
            var icon_ff9b16f2c8db441296d754b5e50d408a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_f23445f606bb496e91ee55afd5134701.setIcon(icon_ff9b16f2c8db441296d754b5e50d408a);
        
    
        var popup_c0d6f378d32945018b704ad0cff9b49b = L.popup({"maxWidth": "100%"});

        
            var html_22da5448349945f08c14fda6e7058a11 = $(`<div id="html_22da5448349945f08c14fda6e7058a11" style="width: 100.0%; height: 100.0%;">Name: Olia la la</div>`)[0];
            popup_c0d6f378d32945018b704ad0cff9b49b.setContent(html_22da5448349945f08c14fda6e7058a11);
        

        marker_f23445f606bb496e91ee55afd5134701.bindPopup(popup_c0d6f378d32945018b704ad0cff9b49b)
        ;

        
    
    
            var marker_99c80cb6cf144861a469559f08816e06 = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_2682e275bead40e6b0963963e3b80df5);
        
    
            var icon_0efb1778b4e348f4ae2cc8e9cfa5af8b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_99c80cb6cf144861a469559f08816e06.setIcon(icon_0efb1778b4e348f4ae2cc8e9cfa5af8b);
        
    
        var popup_977c1ab99bb840548cf3fda6e06e5e59 = L.popup({"maxWidth": "100%"});

        
            var html_ec6310b1ed8545498ae986a0e8fa2eae = $(`<div id="html_ec6310b1ed8545498ae986a0e8fa2eae" style="width: 100.0%; height: 100.0%;">Name: EPAM Ukraine</div>`)[0];
            popup_977c1ab99bb840548cf3fda6e06e5e59.setContent(html_ec6310b1ed8545498ae986a0e8fa2eae);
        

        marker_99c80cb6cf144861a469559f08816e06.bindPopup(popup_977c1ab99bb840548cf3fda6e06e5e59)
        ;

        
    
</script>