{% extends "base.html" %} {% block title %}Welcome{% endblock %} {% block
content %}
<h1 class="greeting">Welcome to TWITTER_MAP</h1>

<!-- <a href="/login.html" class="myButton"></a> -->

<form action="#" method="POST">
  <p><input placeholder = "Enter the nickname" type="text" name="nickname" /></p>
  <p><input placeholder = "Enter you Bearer token" type="text" name="bearer_token" /></p>
  <p><input class="myButton" type="submit" name="submit" value="Generate the map"/></p>
</form>
{% endblock %}
